/.quarto/
__pycache__/
input/base/
input/build/
output/
*.zip
**/.ipynb_checkpoints/
output_*/
.venv/
asim_eet_viz.egg-info/

# tour mode choice sameness investigation
.DS_Store
input/tour-mc-data/*

notebooks/*.twbx
notebooks/tour-mc-investigation-for-tableau.csv

scripts/.Rhistory
scripts/.Rproj.user/*
